body {
    color: #333333;
    font-family: "Muli";
    max-width: 650px;
    margin: 0px auto;
    /* text-align: center; */
    padding: 0px 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input {
    border: 2px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    margin-left: 10px;
}

p {
    font-size: 24px;
}

.main-content {
    flex-grow: 1;
}

img.portrait {
    width: 400px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    margin-right: 16px;
    text-decoration: none;
}